.shadow-genarate{
  box-shadow: 1px 2px 37px 11px  #642fad;
-webkit-box-shadow: 1px 2px 37px 11px #54209c;
-moz-box-shadow: 1px 2px 37px 11px #54209c;
}



.bg-animation{
  transition: background-position 10s ease-out;
}
.bg-animation:hover{
  background-position: 0 100%;
}

.active-btn{
  /* background-color: #98e5ff !important; */
  background-color: #00c0ff !important;
  color: white !important;
}




/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}  */
